In [16]:
# импорт

%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn import tree
from sklearn.cluster import KMeans
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

from scipy import stats

In [21]:
# загружаем файлы

file_train = pd.read_csv(r'C:\Users\Виталий\Desktop\Files\Python\Financial_University\Magistracy\Introduction_to_data_science\Challenge_1\credit_train.csv')
file_test  = pd.read_csv(r'C:\Users\Виталий\Desktop\Files\Python\Financial_University\Magistracy\Introduction_to_data_science\Challenge_1\credit_test.csv')
train_my_1 = pd.read_excel(r'C:\Users\Виталий\Desktop\Files\Python\Financial_University\Magistracy\Introduction_to_data_science\Challenge_1\credit_train_my_data_1.xlsx')
train_my_2 = pd.read_excel(r'C:\Users\Виталий\Desktop\Files\Python\Financial_University\Magistracy\Introduction_to_data_science\Challenge_1\credit_train_my_data_2.xlsx')
test_my_2 = pd.read_excel(r'C:\Users\Виталий\Desktop\Files\Python\Financial_University\Magistracy\Introduction_to_data_science\Challenge_1\credit_test_my_data_2.xlsx')

In [3]:
file_train.head(1)

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6,1,228190,416746.0,1.0,0.0

In [4]:
file_test.head(1)

,Loan ID,Customer ID,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,f738779f-c726-40dc-92cf-689d73af533d,ded0b3c3-6bf4-4091-8726-47039f2c1b90,611314,Short Term,747.0,2074116.0,10+ years,Home Mortgage,Debt Consolidation,42000.83,21.8,NaN,9,0,621908,1058970,0.0,0.0

In [5]:
train_my_1.head(1)

,EVENT,Current_Loan_Amount,Term,Credit_Score,Credit_Score_FLG,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens
0,1,9,0,0,28,6,8,1,Home Improvements,1,9,10,3,1,2,4,1,0

In [22]:
test_my_2.head(1)

,Loan ID,Current_Loan_Amount,Term,Credit_Score_FLG,Credit_Score,Annual_Income,Home_Ownership,Maximum_Open_Credit
0,f738779f-c726-40dc-92cf-689d73af533d,4,0,0,5,5,1,6

In [6]:
# выделяем признаки

col_1 = pd.DataFrame(data = file_train 
                            .groupby('Loan Status')['Loan Status'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )
col_2 = pd.DataFrame(data = file_train 
                            .groupby('Current Loan Amount')['Current Loan Amount'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )
col_3 = pd.DataFrame(data = file_train 
                            .groupby('Term')['Term'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )
col_4 = pd.DataFrame(data = file_train 
                            .groupby('Credit Score')['Credit Score'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )
col_5 = pd.DataFrame(data = file_train 
                            .groupby('Annual Income')['Annual Income'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )
col_6 = pd.DataFrame(data = file_train 
                            .groupby('Years in current job')['Years in current job'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )
col_7 = pd.DataFrame(data = file_train 
                            .groupby('Home Ownership')['Home Ownership'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )
col_8 = pd.DataFrame(data = file_train 
                            .groupby('Purpose')['Purpose'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )
col_9 = pd.DataFrame(data = file_train 
                            .groupby('Monthly Debt')['Monthly Debt'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )
col_10 = pd.DataFrame(data = file_train 
                            .groupby('Years of Credit History')['Years of Credit History'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )
col_11 = pd.DataFrame(data = file_train 
                            .groupby('Months since last delinquent')['Months since last delinquent'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )
col_12 = pd.DataFrame(data = file_train 
                            .groupby('Number of Open Accounts')['Number of Open Accounts'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )
col_13 = pd.DataFrame(data = file_train
                            .groupby('Number of Credit Problems')['Number of Credit Problems'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )
col_14 = pd.DataFrame(data = file_train 
                            .groupby('Current Credit Balance')['Current Credit Balance'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )
col_15 = pd.DataFrame(data = file_train 
                            .groupby('Maximum Open Credit')['Maximum Open Credit'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )
col_16 = pd.DataFrame(data = file_train 
                            .groupby('Bankruptcies')['Bankruptcies'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )
col_17 = pd.DataFrame(data = file_train 
                            .groupby('Tax Liens')['Tax Liens'].count()
                            .reset_index(name='cnt')
                            .sort_values('cnt', ascending = False)
                    )

In [7]:
# проверка на null

#file_train['Loan Status']                     .isnull().sum() # 0
#file_train['Current Loan Amount']             .isnull().sum() # 0
#file_train['Term']                            .isnull().sum() # 0
#file_train['Credit Score']                    .isnull().sum() # 19154
#file_train['Annual Income']                   .isnull().sum() # 19154
#file_train['Years in current job']            .isnull().sum() # 4222
#file_train['Home Ownership']                  .isnull().sum() # 0
#file_train['Purpose']                         .isnull().sum() # 0
#file_train['Monthly Debt']                    .isnull().sum() # 0
#file_train['Years of Credit History']         .isnull().sum() # 0
#file_train['Months since last delinquent']    .isnull().sum() # 53141
#file_train['Number of Open Accounts']         .isnull().sum() # 0
#file_train['Number of Credit Problems']       .isnull().sum() # 0
#file_train['Current Credit Balance']          .isnull().sum() # 0
#file_train['Maximum Open Credit']             .isnull().sum() # 2
#file_train['Bankruptcies']                    .isnull().sum() # 204
#file_train['Tax Liens']                       .isnull().sum() # 10

In [8]:
# графики распределения

#col_1.plot(kind='bar',x='Loan Status',y='cnt')
#col_2.plot(kind='bar',x='Current Loan Amount',y='cnt')
#col_3.plot(kind='bar',x='Term',y='cnt')
#col_4.plot(kind='bar',x='Credit Score',y='cnt')
#col_5.plot(kind='bar',x='Annual Income',y='cnt')
#col_6.plot(kind='bar',x='Years in current job',y='cnt')
#col_7.plot(kind='bar',x='Home Ownership',y='cnt')
#col_8.plot(kind='bar',x='Purpose',y='cnt')
#col_9.plot(kind='bar',x='Monthly Debt',y='cnt')
#col_10.plot(kind='bar',x='Years of Credit History',y='cnt')
#col_11.plot(kind='bar',x='Months since last delinquent',y='cnt')
#col_12.plot(kind='bar',x='Number of Open Accounts',y='cnt')
#col_13.plot(kind='bar',x='Number of Credit Problems',y='cnt')
#col_14.plot(kind='bar',x='Current Credit Balance',y='cnt')
#col_15.plot(kind='bar',x='Maximum Open Credit',y='cnt')
#col_16.plot(kind='bar',x='Bankruptcies',y='cnt')
#col_17.plot(kind='bar',x='Tax Liens',y='cnt')

In [12]:
# Information Value

Information_Value = pd.DataFrame()

column_list = list(train_my_2)
j = -1

for col_name in column_list:
    
    j = j + 1
    
    if (col_name == 'EVENT' or col_name == 'HELP'):
        continue
        
    #if (col_name != 'Credit_Score'):
    #    continue
        
    attr_bins = train_my_2.groupby(col_name,as_index = False) \
                              .aggregate({'HELP' : 'count', 
                                          'EVENT' : 'sum'}) \
                              .rename(columns = {col_name : col_name,
                                                 'HELP':'ALL_OBS',
                                                 'EVENT':'GOOD_OBS'}) \
                              .sort_values(col_name, ascending=True)
    
    attr_bins = attr_bins.assign(BAD_OBS = attr_bins.ALL_OBS - attr_bins.GOOD_OBS,
                                 del_flag = 0)
    
    # склеивание бинов
    
    this_bin  = -1
    this_all  = -1
    this_good = -1
    this_bad  = -1
    last_bin  = -1
    last_all  = -1
    last_good = -1
    last_bad  = -1
    
    i = -1
    
    for index, row in attr_bins.iterrows():
        
        i = i + 1
              
        if this_all != -1:
            
            last_bin  = this_bin
            last_all  = this_all
            last_good = this_good
            last_bad  = this_bad
        
        this_bin  = row[col_name]
        this_all  = row['ALL_OBS']
        this_good = row['GOOD_OBS']
        this_bad  = row['BAD_OBS']               
        
        if this_bin != 1 and ((this_good == 0 or this_bad == 0) or (last_good == 0 or last_bad == 0)): 
            
            attr_bins.loc[i,'del_flag'] = 1
            attr_bins.loc[i-1,'del_flag'] = 1
            
            was_bin   = this_bin
            this_bin  = (this_bin + last_bin)/2
            this_all  = this_all + last_all
            this_good = this_good + last_good
            this_bad  = this_bad + last_bad

            attr_bins = attr_bins.append(pd.DataFrame([[this_bin, 
                                                        this_all,
                                                        this_good,
                                                        this_bad,
                                                        0]], 
                                                        columns=[col_name, 'ALL_OBS', 'GOOD_OBS', 'BAD_OBS', 'del_flag']),
                                         ignore_index=True, sort = False)                       

    #attr_bins = attr_bins.query('del_flag == 0')                     
    #attr_bins = attr_bins.query('GOOD_OBS != 0')          
    #attr_bins = attr_bins.query('BAD_OBS != 0')
        
    attr_bins = attr_bins.sort_values(col_name, ascending=True)
            
    SUM_GOOD_OBS = attr_bins.GOOD_OBS.sum()
    SUM_BAD_OBS = attr_bins.BAD_OBS.sum()
    
    attr_bins = attr_bins.assign(GOOD_PRCNT = attr_bins.GOOD_OBS/SUM_GOOD_OBS,
                                 BAD_PRCNT  = attr_bins.BAD_OBS/SUM_BAD_OBS)
    
    
    attr_bins = attr_bins.assign(WOE = np.log(attr_bins.GOOD_PRCNT/attr_bins.BAD_PRCNT))
    attr_bins = attr_bins.assign(IV  = (attr_bins.GOOD_PRCNT - attr_bins.BAD_PRCNT) * attr_bins.WOE)
    
    #print(attr_bins)
    
    SUM_IV = attr_bins.IV.sum()

    temp_IV = pd.DataFrame({'index' : [j],
                            'name': [col_name],
                            'IV': [round(SUM_IV,5)]})
    
    Information_Value = Information_Value.append(temp_IV, sort=False)
    
Information_Value = Information_Value.set_index('index').reset_index(drop=True)  
Information_Value

A:\Anaconda\lib\site-packages\ipykernel_launcher.py:90: RuntimeWarning: divide by zero encountered in log

                  name       IV
0  Current_Loan_Amount  0.42681
1                 Term  0.13274
2     Credit_Score_FLG      inf
3         Credit_Score  0.19533
4        Annual_Income  0.04739
5       Home_Ownership  0.01969
6  Maximum_Open_Credit  0.02127

In [17]:
# P_Value

PVALUE_cl_5_two = train_my_2.drop(['EVENT', 'HELP'], axis=1).values
PVALUE_RESULT = stats.ttest_1samp(PVALUE_cl_5_two,5.0)
PVALUE_DF = pd.DataFrame(PVALUE_RESULT[1], columns=['P_VALUE'])
MODEL_RESULTS = Information_Value.join(PVALUE_DF)
#MODEL_RESULTS = MODEL_RESULTS.query('IV > 0.019')
#MODEL_RESULTS = MODEL_RESULTS.query('IV < 2.5')
MODEL_RESULTS = MODEL_RESULTS.query('P_VALUE < 0.005')

MODEL_RESULTS

                  name       IV  P_VALUE
0  Current_Loan_Amount  0.42681      0.0
1                 Term  0.13274      0.0
2     Credit_Score_FLG      inf      0.0
3         Credit_Score  0.19533      0.0
4        Annual_Income  0.04739      0.0
5       Home_Ownership  0.01969      0.0
6  Maximum_Open_Credit  0.02127      0.0

In [28]:
# регрессия

X_regr = train_my_2.drop(['EVENT', 'HELP'], axis=1)
Y_regr = train_my_2['EVENT']

REGRESSION_DF = pd.DataFrame()

x_train_regr, x_test_regr, y_train_regr, y_test_regr = train_test_split(X_regr, Y_regr, test_size=0.3)

regr_1 = LinearRegression()
regr_2 = RandomForestRegressor(n_estimators=100, max_features ='sqrt')
regr_3 = KNeighborsRegressor(n_neighbors=6)
regr_4 = SVR(kernel='linear')
regr_5 = LogisticRegression(solver = 'lbfgs')

#regr_1.fit(x_train_regr, y_train_regr)
#regr_2.fit(x_train_regr, y_train_regr)
#regr_3.fit(x_train_regr, y_train_regr)
#regr_4.fit(x_train_regr, y_train_regr)
regr_5.fit(x_train_regr, y_train_regr)

#temp_regr_1 = pd.DataFrame({'name': ['LinearRegression'],
#                          'train R^2': [regr_1.score(x_train_regr, y_train_regr)],
#                          'test R^2' : [regr_1.score(x_test_regr, y_test_regr)]})

#temp_regr_2 = pd.DataFrame({'name': ['RandomForestRegressor'],
#                          'train R^2': [regr_2.score(x_train_regr, y_train_regr)],
#                          'test R^2' : [regr_2.score(x_test_regr, y_test_regr)]})

#temp_regr_3 = pd.DataFrame({'name': ['KNeighborsRegressor'],
#                          'train R^2': [regr_3.score(x_train_regr, y_train_regr)],
#                          'test R^2' : [regr_3.score(x_test_regr, y_test_regr)]})

#temp_regr_4 = pd.DataFrame({'name': ['SVR'],
#                          'train R^2': [regr_4.score(x_train_regr, y_train_regr)],
#                          'test R^2' : [regr_4.score(x_test_regr, y_test_regr)]})

temp_regr_5 = pd.DataFrame({'name': ['LogisticRegression'],
                          'train R^2': [regr_5.score(x_train_regr, y_train_regr)],
                          'test R^2' : [regr_5.score(x_test_regr, y_test_regr)]})

#REGRESSION_DF = REGRESSION_DF.append(temp_regr_1, sort=False)
#REGRESSION_DF = REGRESSION_DF.append(temp_regr_2, sort=False)
#REGRESSION_DF = REGRESSION_DF.append(temp_regr_3, sort=False)
#REGRESSION_DF = REGRESSION_DF.append(temp_regr_4, sort=False)
REGRESSION_DF = REGRESSION_DF.append(temp_regr_5, sort=False)

In [29]:
REGRESSION_DF

                 name  train R^2  test R^2
0  LogisticRegression   0.779456  0.781463

In [30]:
train_my_2.head(1)

,EVENT,HELP,Current_Loan_Amount,Term,Credit_Score_FLG,Credit_Score,Annual_Income,Home_Ownership,Maximum_Open_Credit
0,1,1,4,0,0,4,4,1,3

In [37]:
testing = test_my_2.drop(['Loan ID'], axis = 1)
result = pd.DataFrame(data = regr_5.predict(testing))
result.to_excel(r'C:\Users\Виталий\Desktop\Files\Python\Financial_University\Magistracy\Introduction_to_data_science\Challenge_1\result.xlsx')